.banner__68edb {
    background: var(--banner-image, url("https://raw.githubusercontent.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme/main/Images/Frame%2013.png")) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 105px;
    min-height: 105px;
}
