@property --banner-image {
    syntax: "<image> | none";
    inherits: true;
    initial-value: none;
}

.banner__68edb {
    background: var(--banner-image);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
